* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  width: 100%;
  color: white;
  z-index: 1000;
}

.logoHeader {
  cursor: pointer;

  width: 100px;
  height: 100px;
  margin: 20px 30px;
}

.ulHeader {
  display: flex;
  list-style-type: none;

  margin-right: 40px;
  gap: 20px;
}

.ulHeader li {
  font-size: larger;
  font: optional;
  cursor: pointer;

  color: rgb(255, 255, 255);

  transition: text-shadow 0.2s ease;
}

.ulHeader li:hover {
  text-shadow: 0 0 15px #ffd700, 0 0 20px #ffd700, 0 0 25px #ffd700;
}

main {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("/assets/images/picture-backgroud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
  overflow-x: hidden;

  min-height: 100vh;
}

@media (max-width: 768px) {
  .logoHeader {
    width: 70px;
    margin: 10px 0;
  }

  .ulHeader {
    width: 100%;
    align-items: flex-start;
    margin-left: 150px;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  .logoHeader {
    width: 60px;
    margin-left: 20px;
  }

  .ulHeader {
    margin-left: calc(230px - 150px);

    gap: 20px;
  }

  .ulHeader li {
    font-size: medium;
  }
}
