* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  width: 100%;
  color: white;
  z-index: 1000;
}

.logoHeader {
  cursor: pointer;

  width: 100px;
  height: 100px;
  margin: 20px 30px;
}

.ulHeader {
  display: flex;
  list-style-type: none;

  margin-right: 40px;
  gap: 20px;
}

.ulHeader li {
  font-size: larger;
  font: optional;
  cursor: pointer;

  color: rgb(255, 255, 255);

  transition: text-shadow 0.2s ease;
}

.ulHeader li:hover {
  text-shadow: 0 0 15px #ffd700, 0 0 20px #ffd700, 0 0 25px #ffd700;
}

main {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("/assets/images/picture-backgroud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
  overflow-x: hidden;

  min-height: 100vh;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 150px;
}

.banner .sobrepor {
  position: absolute;

  width: 100%;
  height: 600px;
  z-index: 1;
}

.banner .content {
  position: relative;

  z-index: 2;
}

.banner h1 {
  font-size: 3em;

  margin-bottom: 20px;

  color: white;
}

.banner p {
  font-size: 1.2em;

  margin-bottom: 30px;
  max-width: 600px;
}

.banner button {
  border: none;
  cursor: pointer;

  padding: 15px 30px;
  font-size: 1em;

  color: black;
  background-color: #ffd700;

  transition: background-color 0.3s ease;
}

.banner button:hover {
  background-color: #e6c200;
}

.animated {
  opacity: 0;

  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated.active {
  opacity: 1;

  transform: translateY(0);
}

.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;

  z-index: 2000;
}

.popup-content {
  position: relative;
  text-align: left;

  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;

  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  text-align: center;

  font-size: 1.8em;
  margin-bottom: 20px;

  color: #333;
}

.popup-content label {
  display: block;

  margin-bottom: 5px;

  color: #555;
}

.popup-content input {
  width: 100%;
  padding: 10px;

  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.popup-content button {
  width: 100%;
  padding: 12px;

  font-size: 1em;

  border-radius: 5px;
  border: none;
  border-radius: 5px;

  color: black;
  background-color: #ffd700;
  transition: background-color 0.3s;
}

.popup-content button:hover {
  background-color: #e6c200;
}

.popup .close {
  position: absolute;
  cursor: pointer;

  top: 10px;
  right: 10px;

  font-size: 1.5em;

  color: #333;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.servicos {
  text-align: center;
  align-items: center;

  min-height: 100vh;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("/assets/images/picture-backgroud.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
  overflow-x: hidden;
}

.servicos h2 {
  margin-bottom: 20px;
  padding: 20px;

  font-weight: 700;
}

.carrossel {
  position: relative;

  max-width: 600px;
  margin: 0 auto;

  overflow: hidden;

  border: 1px solid #ddd;
  border-radius: 8px;
}

.slides {
  display: flex;

  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  padding: 20px;

  text-align: center;

  box-sizing: border-box;
}

.slide img {
  width: 200px;

  border-radius: 8px;

  cursor: pointer;
}

.slide p {
  margin: 10px 0;

  font-weight: bold;
}

button.prev,
button.next {
  position: absolute;
  cursor: pointer;

  width: 50px;
  height: 50px;
  padding: 0;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(-50%);
  border: none;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;

  border-radius: 50%;
  z-index: 10;
}

button.prev:hover,
button.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.combos {
  margin-top: 40px;
  padding: 20px;

  background-color: #f9f9f9;
  border: 1px solid #ddd;

  border-radius: 8px;
}

.combos h3 {
  margin-bottom: 20px;
  font-size: 20px;

  text-align: center;

  font-weight: bold;

  color: #333;
}

.combos ul {
  list-style: none;
  text-align: center;

  padding: 0;
}

.combos li {
  margin: 10px 0;
  padding: 10px;

  font-size: 16px;

  background-color: #fff;
  border: 1pc solid #ddd;
  color: #555;

  border-radius: 4px;
  cursor: pointer;

  transition: backgound-color 0.3s ease, box-shadow 0.3s ease;
}

.combos li strong {
  font-weight: bold;

  color: #e63946;
}

.combos li:hover {
  background-color: #f0f0f0;

  box-shadow: 0 2px 4px rga(0, 0, 0, 0.1);
}

.carrinho {
  position: fixed;
  display: none;

  top: 10%;
  right: 20px;
  width: 300px;
  padding: 20px;

  border-radius: 8px;

  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  max-height: 80vh;
  overflow: auto;
}

.carrinho h3 {
  margin-bottom: 15px;
  font-size: 18px;

  font-weight: bold;

  text-align: center;

  color: #333;
}

.carrinho ul {
  list-style: none;

  padding: 0;
  margin: 0 0 15px;
}

.carrinho li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;

  font-size: 16px;

  word-wrap: break-word;
}

.carrinho li span {
  flex-grow: 1;

  text-align: left;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carrinho li button {
  background-color: #e63946;
  color: white;

  padding: 5px 10px;
  margin-left: 10px;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  font-size: 14px;
}

.carrinho li button:hover {
  background-color: #c5303b;
}

.carrinho-total {
  font-size: 18px;
  font-weight: bold;

  text-align: right;

  margin-top: 10px;
}

.carrinho button {
  display: block;

  width: 100%;
  padding: 10px;

  background-color: #e63946;
  color: white;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  font-size: 16px;
}

.carrinho button:hover {
  background-color: #c5303b;
}

.fechar-carrinho {
  position: absolute;
  top: 5px;
  right: 5px;

  background-color: transparent;
  color: #e63946;

  font-size: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.fechar-carrinho:hover {
  color: #c5303b;
}

@media (max-width: 768px) {
  .logoHeader {
    width: 70px;
    margin: 10px 0;
  }

  .ulHeader {
    width: 100%;
    align-items: flex-start;
    margin-left: 150px;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  .logoHeader {
    width: 60px;
    margin-left: 20px;
  }

  .ulHeader {
    margin-left: calc(230px - 150px);

    gap: 20px;
  }

  .ulHeader li {
    font-size: medium;
  }
}
